body{
}

* {
    box-sizing: border-box;
}


header{
	background:#555;
	position:fixed;
	top:0;
	width:100%;		
	height:83px;
	display:inline;		
	vertical-align:top;
	overflow:hidden;
	color:#fff;
}


#logo{
	vertical-align:middle;
	margin-left:1em;
	margin-right:1em;
	float:left;
	color:#fff;
	font-family:Helvetica;	
}

#menu{
	margin: auto;
	vertical-align:baseline;
}

::selection {
    color: #fff;
    background: #555;
}

button{
    margin-right: 1em;
    cursor: pointer;
}

label{
	cursor:pointer;
}

input:focus{
	background-color: #D3D3D3;
}
 
.send{
	text-decoration:none;
} 

a.send:visited{
	color:black;
}

ul{
	list-style-type:none;
	background-color: #555;
	overflow:hidden;
	padding:0;
	margin:0;
}

 li a {
    text-align: center;
	vertical-align:middle;
    padding: 2em 3em;
    text-decoration: none;
	color: white;
    display: block;	

}

li {
    float: left;
	width:auto;
	height:auto;
}

li a.active{
	background:#333;
}

li a:hover {
    background-color: #666;
}

form{
	width:auto;
	height:auto;
	overflow:hidden;
	margin:100px;
}

.home{
	width:96%;
	height:auto;
	overflow:hidden;
	margin:100px 2%;
	padding:10px;
	position:absolute;
	text-align: left;
	text-overflow:ellipsis;
	word-wrap: wrap;
	word-break: keep-all;
	z-index:-1;
    box-sizing: border-box;
	
}

.info{
	
}


.informes{
	width:420px;
	height:300px;	
	overflow:hidden;
	margin:0;
    box-sizing: border-box;
	float:left;	
	background-color:#bbb;
	padding:1.5em;
	letter-spacing:7px;
	line-height:2em;
	word-break:break all;
	hyphens: auto;	
}

.conteudo{
	width:100%;
	height:auto;
	overflow:hidden;
	display:flex;	
    flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	align-items: center;
}

div.news{
	width:400px;
	height:500px;	
	overflow:hidden;
	margin:1em;
    box-sizing: border-box;
	float:left;	
	background-color:#bbb;
	padding:1.5em;
	text-transform:uppercase;
	letter-spacing:10px;
	line-height:3em;
	word-break:break all;
	hyphens: auto;
}


div.box-news{
	width:100%;
	height:auto;	
	overflow:hidden;
	margin:1em;
    box-sizing: border-box;
	float:left;	
	background-color:#bbb;
	padding:1.5em;
	text-decoration:none;
	
}

div.box-news img{
	float:left;
	margin-right: 1em;
	height:400px;
	width:35%;	
	/*width:auto;
	height: auto;*/
	
}

div.box-news h2  , div.box-news h1  {
	text-align:center;
	
}

.news h1{	
	color:black;
	
}

.news:hover{
	color:white;
	background-color:#777;
}


.mais_noticias {
	text-decoration:none;
	font-size:20px;
	float:right;
	margin:2.5em;
	color:black;
}

.mais_noticias:hover {
	color:#253;
}

div.gallery{
	width:auto;
	height:auto;
	overflow:hidden;
	margin:90px;
	padding:10px;
	position:absolute;
	z-index:-1;
	display:flex;
	justify-content: center;
	align-items: center;
    flex-wrap: wrap;
	align-content: center;
}


div.Photo{
	display:inline-block; 
	width:400px;
	height:400px;	
	overflow:hidden;
	margin:10px;
	border: 2px solid #555;
    box-sizing: border-box;
}

div.Photo img{	 
	width:400px;
	height:400px;	
}


.Photo:hover {
	opacity: 0.7;
}





